/* default settings */

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: whitesmoke;
}


/* header section */

header {
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 100%;
    height: 56px;
    background: black;
    color: white;
    padding: 0% 2%;
    border-radius: 0px 0px 25px 25px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    float: left;
    height: 56px;
    margin: 0px;
}


/* hover dropdowns */

.dropbtn {
    height: 56px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-width: 100px;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 25px 25px 0px 0px;
}

.dropdown {
    margin: 0px 5px;
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 25px 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.dropdown-content-last {
    border-radius: 0px 0px 25px 25px;
}

/* body container */

.body-container {
    padding: 1%;
}

button {
    border-radius: 5px;
    width: 100%;
    height: 100px;
    font-size: 48px;
}

th {
    text-align: center;
    color: black;
    font-weight: bold;
}

td {
    text-align: center;
}


/* footer section */

footer {
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    border-radius: 25px 25px 0px 0px;
}