{% extends 'layout.html' %}
{% block heading %}Edit Player Information: {{player.name}}{% endblock %}
{% block content %}
<form action="{{url_for('edit_player', name=player.name)}}" method="POST">
  {{form.csrf_token}}
  <p>
    Name: {{form.name}}
    {% if form.name.errors %}
    <ul>{% for error in form.name.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>
    Age: {{form.age}}
    {% if form.age.errors %}
    <ul>{% for error in form.age.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>
    Position: {{form.position}}
    {% if form.position.errors %}
    <ul>{% for error in form.position.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>
    Team: {{form.team}}
    {% if form.team.errors %}
    <ul>{% for error in form.team.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>

  <hr/>

  <input type="reset" value="Reset"/>
  <input type="submit" value="Submit"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}
