{% extends 'layout.html' %}
{% block heading %}Home Page{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-5">
            <h2 style="text-align: center">West Standings</h2>
             <div class="panel panel-default">
            <table>
                <tr>
                   <th class="cell100 column1">Rank</th>
                    <th class="cell100 column1">Team</th>
                    <th class="cell100 column1">Record</th>
                </tr>
                <tr>
                    {% for team in west_standings %}
                        <tr>
                            <td>{{loop.index}}</th>
                            <td><a style="color: black" href="{{url_for('view_teams', team_id=team.team_id)}}">{{team.city}} {{team.nickname}}</a></th>
                            <td>{{team.w}}-{{team.l}}</th>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
             </div>
        <div class="col-6">
            <h2 style="text-align: center">East Standings</h2>
             <div class="panel panel-default">
            <table>
                <tr>
                    <th class="cell100 column1">Rank</th>
                    <th class="cell100 column1">Team</th>
                    <th class="cell100 column1">Record</th>
                </tr>
                <tr>
                    {% for team in east_standings %}
                        <tr>
                            <td>{{loop.index}}</th>
                            <td><a style="color: black" href="{{url_for('view_teams', team_id=team.team_id)}}">{{team.city}} {{team.nickname}}</a></th>
                            <td>{{team.w}}-{{team.l}}</th>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-7">
            <h2 style="text-align: center">Player Efficiency Rankings</h2>
             <div class="panel panel-default">
            <table>
                <tr>
                    <th class="cell100 column3">Rank</th>
                    <th class="cell100 column4">Player</th>
                    <th class="cell100 column5">PPG</th>
                    <th class="cell100 column5">APG</th>
                    <th class="cell100 column5">RPG</th>
                    <th class="cell100 column5">EFF</th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td>{{loop.index}}</th>
                        <td>{{player.name}}</th>
                        <td>{{player.avg_points}}</th>
                        <td>{{player.avg_assists}}</th>
                        <td>{{player.avg_rebounds}}</th>
                        <td>{{player.eff}}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        </div>
        <div class="col-5">
            <h2 style="text-align: center">Upcoming Games</h2>
        </div>
    </div>


{% endblock %}