{% extends 'layout.html' %}
{% block heading %}Home Page{% endblock %}
{% block content %}

<p>This is the home page!</p>


    <div class="row">
        <div class="col-6">
            <h2 style="text-align: center">West Standings</h2>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Record</th>
                </tr>
                <tr>
                    {% for team in west_standings %}
                        <tr>
                            <td>{{loop.index}}</th>
                            <td><a href="{{url_for('view_teams', team_id=team.team_id)}}">{{team.city}} {{team.nickname}}</a></th>
                            <td>{{team.w}}-{{team.l}}</th>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="col-6">
            <h2 style="text-align: center">East Standings</h2>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Record</th>
                </tr>
                <tr>
                    {% for team in east_standings %}
                        <tr>
                            <td>{{loop.index}}</th>
                            <td><a href="{{url_for('view_teams', team_id=team.team_id)}}">{{team.city}} {{team.nickname}}</a></th>
                            <td>{{team.w}}-{{team.l}}</th>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <h2 style="text-align: center">Player Efficiency Rankings</h2>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>PPG</th>
                    <th>APG</th>
                    <th>RPG</th>
                    <th>EFF</th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td>{{loop.index}}</th>
                        <td>{{player.name}}</th>
                        <td>{{player.avg_points}}</th>
                        <td>{{player.avg_assists}}</th>
                        <td>{{player.avg_rebounds}}</th>
                        <td>{{player.eff}}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-6">
            <h2 style="text-align: center">Upcoming Games</h2>
        </div>
    </div>


{% endblock %}