{% extends 'layout.html' %}
{% block content %}

<script type="text/javascript">
    function changeUrl(){
        var form = document.getElementById("servesForm");
        var selectedBeer = document.getElementById("beer-list");
        var nextUrl = form.action;
        form.action = nextUrl.replace("default", selectedBeer.value);
        form.submit();
    }
</script>

<h1>Select Beer</h1>
    <form id="servesForm" action="{{url_for('servings_for', beer_name='default')}}" method="POST" onSubmit="changeUrl()">

        {{form.csrf_token}}

        <p>{{form.beer_sel.label}}</p>

        <select id="beer-list" name="list_status">

        {% for each in form.beer_sel.choices %}

        <option value="{{each}}">{{each}}</option>

        {% endfor %}

        </select>

        <br>

        <p>
            {{ form.submit }}
        </p>

{#      <input type="submit" value="Submit"/>#}





    </form>
{% endblock %}