{% extends 'layout.html' %}
{% block heading %}Standings Page{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-6">
            <h2 style="text-align: center">West Standings</h2>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>GP</th>
                    <th>Record</th>
                    <th>%</th>

                </tr>

                {% for standing in west_standings %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td style="width: 35% "><a style="color:black" href="{{url_for('view_teams', team_id=standing.team_id)}}">{{ standing.city }} {{ standing.nickname }}</a></td>
                    <td>{{ standing.w + standing.l }}</td>
                    <td>{{ standing.w }} - {{ standing.l }}</td>
                    <td>{{ standing.w_pct }}</td>
                </tr>

                {% endfor %}

            </table>
        </div>
        <div class="col-6">
            <h2 style="text-align: center">East Standings</h2>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>GP</th>
                    <th>Record</th>
                    <th>%</th>
                </tr>

                {% for standing in east_standings %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td style="width: 35%"><a style="color:black" href="{{url_for('view_teams', team_id=standing.team_id)}}">{{ standing.city }} {{ standing.nickname }}</a></td>
                    <td>{{ standing.w + standing.l }}</td>
                    <td>{{ standing.w }} - {{ standing.l }}</td>
                    <td>{{ standing.w_pct }}</td>
                </tr>

                {% endfor %}

            </table>
        </div>

    </div>


{% endblock %}