{% extends 'layout.html' %}
{% block heading %}View Players{% endblock %}
{% block content %}
<form>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="panel panel-default">
            <table>
                <tr>
                    <th class="cell100 column1">Edit</th>
                    <th class="cell100 column1">Player</th>
                    <th class="cell100 column1">Position</th>
                    <th class="cell100 column1">PPG</th>
                      <th class="cell100 column1"> APG </th>
                       <th class="cell100 column1"> RPG </th>
                </tr>


        <tr>
            {% for player in  players %}

        <tr>
            <td> <button type="submit" formaction="{{url_for('edit_player', name=player.name)}}">  </button> </td>
            <td><a href="{{url_for('view_player', player_id=player.player_id)}}">{{ player.name }}</a></td>
            <td>{{ player.position }}</td>
            <td>{{ player.avg_points }}</td>
            <td>{{ player.avg_assists }}</td>
            <td>{{ player.avg_rebounds }}</td>
        </tr>

        {% endfor %}

    </table>
    </div>

</form>

{% endblock %}
s