{% extends 'layout.html' %}
{% block heading %}View Games{% endblock %}
{% block content %}
<form>
    <table style="width:100%">

        <tr>
            <th>Edit</th>
            <th>More Info</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>

        {% for player in  players %}

        <tr>
            <td> <button type="submit" formaction="{{url_for('edit_player', name=player.name)}}">  </button> </td>
            <td>{{ player.name }}</td>
            <td>{{ player.age }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.team_id }}</td>
        </tr>

        {% endfor %}

    </table>

</form>

{% endblock %}