{% extends 'layout.html' %}
{% block heading %}View Players{% endblock %}
{% block content %}
<form>
    <table style="width:100%">

        <tr>
            <th>Edit</th>
            <th>Player</th>
            <th>Age</th>
            <th>Position</th>
            <th>Team</th>
        </tr>

        {% for player in  players %}

        <tr>
            <td> <button type="submit" formaction="{{url_for('edit_player', name=player.name)}}">  </button> </td>
            <td>{{ player.name }}</td>
            <td>{{ player.age }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.team_id }}</td>
        </tr>

        {% endfor %}

    </table>

</form>

{% endblock %}
