{% extends 'layout.html' %}
{% block heading %}View Games{% endblock %}
{% block content %}
<form>
    <table style="width:100%">

        <tr>
            <th>Edit</th>
            <th>More Info</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>

        {% for game in games %}

        <tr>
            <td> <button type="submit" formaction="">  </button> </td>
            <td> <a>More Info</a> </td>
            <td>{{ game.home_city }} {{ game.home_nickname }}</td>
            <td>{{ game.visitor_city }} {{ game.visitor_nickname }}</td>
            <td>{{ game.game_date_est }}</td>
            <td>{{ game.game_time }}</td>
            <td>{{ game.game_status_text }}</td>
        </tr>

        {% endfor %}

    </table>

</form>

{% endblock %}